
.container{
    background-color: aqua;
    height: 39rem;
    z-index: -2;
}
.container h1{
    text-align: center;
    color: azure;
    position: relative;
    font-size: 65px;
    
}
.man{
    position: relative;
    border-style: 500rem solid;
    border-radius: 50%;
    background-color: rgb(39, 35, 104); 
    margin: 1% 40%;
    
}
.container i{
    position: absolute;
    margin: 0 48%;
    padding: 1%;
    font-size: 45px;
    color: azure;
    z-index: 1;
}
.container p{
    position: relative;
    text-align: center;
    top: 100px;
    font-size: 25px;
    color: azure;
}
